[Desktop Entry]
Name=wiznote
GenericName=cloud note-taking application
Comment=taking note and manage information
Exec=wiznote
Terminal=false
Type=Application
StartupNotify=true
Icon=wiznote
Categories=KDE;QT;Utility;
