/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #E7E7E7;
    border-radius: 4px;
}
 
/* Track */
/*::-webkit-scrollbar-track {
    -webkit-box-shadow: rgba(231,231,231,1); 
    -webkit-border-radius: 6px;
    border-radius: 6px;
}*/
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 4px;
    background-color: #D3D3D3;
    -webkit-box-shadow: rgba(0,0,0,0.5); 
}
/*::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}*/