*.swp
.DS_Store
tags
CMakeLists.txt.user*

#ignore temporary files created by the compiler 
CMakeCache.txt
CMakeFiles/
Makefile
bin/
cmake_install.cmake
lib/clucene/CMakeFiles/
lib/clucene/CTestTestfile.cmake
lib/clucene/Makefile
lib/clucene/cmake_install.cmake
lib/clucene/cmake_uninstall.cmake
lib/clucene/src/core/CLuceneConfig.cmake
lib/clucene/src/core/CMakeFiles/
lib/clucene/src/core/CTestTestfile.cmake
lib/clucene/src/core/Makefile
lib/clucene/src/core/cmake_install.cmake
lib/clucene/src/demo/CMakeFiles/
lib/clucene/src/demo/CTestTestfile.cmake
lib/clucene/src/demo/Makefile
lib/clucene/src/demo/cmake_install.cmake
lib/clucene/src/ext/CMakeFiles/
lib/clucene/src/ext/CTestTestfile.cmake
lib/clucene/src/ext/Makefile
lib/clucene/src/ext/cmake_install.cmake
lib/clucene/src/shared/CLucene/_clucene-config.h
lib/clucene/src/shared/CLucene/clucene-config.h
lib/clucene/src/shared/CMakeFiles/
lib/clucene/src/shared/CTestTestfile.cmake
lib/clucene/src/shared/Makefile
lib/clucene/src/shared/cmake_install.cmake
lib/clucene/src/test/CMakeFiles/
lib/clucene/src/test/CTestTestfile.cmake
lib/clucene/src/test/Makefile
lib/clucene/src/test/cmake_install.cmake
lib/cryptopp/CMakeFiles/
lib/cryptopp/Headers/
lib/cryptopp/Makefile
lib/cryptopp/adhoc.cpp
lib/cryptopp/cmake_install.cmake
lib/cryptopp/cryptopp-config-build.cmake
lib/cryptopp/cryptopp-config-version.cmake
lib/cryptopp/cryptopp-config.cmake
lib/cryptopp/cryptopp-targets.cmake
lib/cryptopp/libcryptlib.a
lib/libQtCore.so.4
lib/libQtGui.so.4
lib/libQtNetwork.so.4
lib/libQtWebKit.so.4
lib/libQtXml.so.4
lib/libQtXmlPatterns.so.4
plugins/
share/wiznote/languages/wiznote_zh_CN.qm
share/wiznote/languages/wiznote_zh_TW.qm
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/moc_newtagdialog.cxx
src/moc_wizEditorInsertLinkForm.cxx
src/moc_wizGroupAttributeForm.cxx
src/moc_wizNewDialog.cxx
src/moc_wizSearchBox.cxx
src/moc_wizUpgrade.cxx
src/moc_wizaboutdialog.cxx
src/moc_wizattachmentlistwidget.cxx
src/moc_wizcategoryview.cxx
src/moc_wizcertmanager.cxx
src/moc_wizconsoledialog.cxx
src/moc_wizcreateaccountdialog.cxx
src/moc_wizdocumentlistview.cxx
src/moc_wizdocumentview.cxx
src/moc_wizdocumentwebview.cxx
src/moc_wizdownloadobjectdatadialog.cxx
src/moc_wizmainwindow.cxx
src/moc_wiznoteinfoform.cxx
src/moc_wizpreferencedialog.cxx
src/moc_wizproxydialog.cxx
src/moc_wizstatusbar.cxx
src/moc_wiztaglistwidget.cxx
src/moc_wizupdater.cxx
src/moc_wizupdaterprogressdialog.cxx
src/moc_wizupgradenotifydialog.cxx
src/moc_wizusercipherform.cxx
src/moc_wizwelcomedialog.cxx
src/share/moc_wizDatabase.cxx
src/share/moc_wizDatabaseManager.cxx
src/share/moc_wizKbSync.cxx
src/share/moc_wizSearchIndexer.cxx
src/share/moc_wizSync.cxx
src/share/moc_wizThumbIndexCache.cxx
src/share/moc_wizXmlRpcServer.cxx
src/share/moc_wizanimateaction.cxx
src/share/moc_wizapi.cxx
src/share/moc_wizcommonui.cxx
src/share/moc_wizcreateaccount.cxx
src/share/moc_wizdownloadobjectdata.cxx
src/share/moc_wizindex.cxx
src/share/moc_wizmisc.cxx
src/share/moc_wizpopupwidget.cxx
src/share/moc_wizsyncthread.cxx
src/share/moc_wizverifyaccount.cxx
src/share/moc_wizziwreader.cxx
src/ui_newtagdialog.h
src/ui_wizEditorInsertLinkForm.h
src/ui_wizNewDialog.h
src/ui_wizaboutdialog.h
src/ui_wizconsoledialog.h
src/ui_wizcreateaccountdialog.h
src/ui_wizdownloadobjectdatadialog.h
src/ui_wiznoteinfoform.h
src/ui_wizpreferencedialog.h
src/ui_wizproxydialog.h
src/ui_wizupdaterprogressdialog.h
src/ui_wizupgradenotifydialog.h
src/ui_wizusercipherform.h
src/ui_wizwelcomedialog.h
src/wiznote_zh_CN.qm
src/wiznote_zh_TW.qm
src/zip/moc_quazipfile.cxx
src/wizdef_local.h
