*.swp
.DS_Store
tags
CMakeLists.txt.user*
!macos-package/.DS_Store
*.autosave
.idea/*
CMakeCache.txt
Makefile
*.cmake
/install_manifest.txt
CMakeFiles/
/share/wiznote/
/src/__/
/src/ui_*.h
/src/wiznote_*.qm
/src/qrc_wiznote.cpp
/src/WizNote
/src/WizNote_autogen/
/lib/quazip/libquazip.a
/lib/quazip/quazip_autogen/
/lib/cryptopp/libcryptlib.a
