/* editor note frame's default */
.view {
    padding:0;
    word-wrap:break-word;
    cursor:text;
    height:90%; 
    overflow: auto !important;
}

body {    
    /*margin:0px 14px;*/
    margin: 20px 40px ;
}

body, div, p {
    /*default-font-family*/ !important;
    /*default-font-size*/ !important;
    /*default-line-height*/
}

html, body {
    /*default-color*/
    /*default-background-color*/ !important;
    height: auto !important;
}


