html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {
	margin: 0;
	padding: 0;
}

html {
    solid #96c2f1;
    background:#eff7ff;
}

#wizstar {
    display: block;
    margin-top: 100px;
	margin-left: auto;
    margin-right: auto;
}

h2 {
    font: bold 2.8em Helvetica, Arial, Geneva, sans-serif;
	font-size: 18px;
    text-align: center;
}
