html, body {
    font-size: 15px;
}

body {
    font-family: Helvetica, "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei UI", SimSun, SimHei, arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px 15px;
    padding: 1.33rem 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    margin: 1.33rem 0 0.667rem;
    padding: 0;
    font-weight: bold;
}

h1 {
    font-size: 24px;
    font-size: 1.6rem;
}

h2 {
    font-size: 19.5px;
    font-size: 1.3rem;
}

h3 {
    font-size: 17.25px;
    font-size: 1.15rem;
}

h4 {
    font-size: 17px;
    font-size: 1.13rem;
}

h5 {
    font-size: 15px;
    font-size: 1rem;
}

h6 {
    font-size: 15px;
    font-size: 1rem;
    color: #777777;
    margin: 1rem 0;
}

div, p, ul, ol, dl, li {
    margin: 0;
}

blockquote, table, pre, code {
    margin: 8px 0;
}

ul, ol {
    padding-left: 32px;
    padding-left: 2.13rem;
}

blockquote {
    padding: 0 12px;
    padding: 0 0.8rem;
}

blockquote > :first-child {
    margin-top: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}

img {
    border: 0;
    max-width: 100%;
    height: auto !important;
    margin: 2px 0;
}

table {
    border-collapse: collapse;
    border: 1px solid #bbbbbb;
}

td, th {
    padding: 4px 8px;
    border-collapse: collapse;
    border: 1px solid #bbbbbb;
    height: 28px;
    word-break: break-all;
    box-sizing: border-box;
}

.wiz-hide {
    display: none !important;
}