@font-face {
    font-family: 'wizEditorIcons';
    src:    url('fonts/wizEditorIcons.eot?heg7bc');
    src:    url('fonts/wizEditorIcons.eot?heg7bc#iefix') format('embedded-opentype'),
    url('fonts/wizEditorIcons.ttf?heg7bc') format('truetype'),
    url('fonts/wizEditorIcons.woff?heg7bc') format('woff'),
    url('fonts/wizEditorIcons.svg?heg7bc#wizEditorIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.editor-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wizEditorIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-merge.editor-icon:before {
    content: "\e101";
}
.icon-insert.editor-icon:before {
    content: "\e102";
}
.icon-box.editor-icon:before {
    content: "\e103";
}
.icon-inner_box.editor-icon:before {
    content: "\e104";
}
.icon-oblique_line.editor-icon:before {
    content: "\e105";
}
.icon-align.editor-icon:before {
    content: "\e106";
}
.icon-align_left.editor-icon:before {
    content: "\e107";
}
.icon-align_center.editor-icon:before {
    content: "\e108";
}
.icon-align_right.editor-icon:before {
    content: "\e109";
}
.icon-valign_bottom.editor-icon:before {
    content: "\e10a";
}
.icon-valign_middle.editor-icon:before {
    content: "\e10b";
}
.icon-valign_top.editor-icon:before {
    content: "\e10c";
}
.icon-more.editor-icon:before {
    content: "\e10d";
}
.icon-down_arrow.editor-icon:before {
    content: "\e10e";
}