.markdown-body {
    font-family: Helvetica, "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei UI", SimSun, SimHei, arial, sans-serif;
    line-height: 1.6;
    /*background-color: white;*/
    margin: 0 auto;
    padding: 20px 36px;
}
/*.markdown-body,*/
/*.markdown-body p,*/
/*.markdown-body div {*/
    /*font-size: 15px;*/
/*}*/

.markdown-body.mobile {
    padding: 0;
}

.markdown-body > *:first-child {
    margin-top: 0 !important;
}

.markdown-body > *:last-child {
    margin-bottom: 0 !important;
}

.markdown-body a {
    color: #448aff;
    text-decoration: none;
}
.markdown-body a:hover {
    text-decoration: underline;
}

.markdown-body a.absent {
    color: #cc0000;
}

.markdown-body a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    /*-webkit-font-smoothing: antialiased;*/
    cursor: text;
    position: relative;
}

.markdown-body h1:hover a.anchor, .markdown-body h2:hover a.anchor, .markdown-body h3:hover a.anchor, .markdown-body h4:hover a.anchor, .markdown-body h5:hover a.anchor, .markdown-body h6:hover a.anchor {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA09pVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoMTMuMCAyMDEyMDMwNS5tLjQxNSAyMDEyLzAzLzA1OjIxOjAwOjAwKSAgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OUM2NjlDQjI4ODBGMTFFMTg1ODlEODNERDJBRjUwQTQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OUM2NjlDQjM4ODBGMTFFMTg1ODlEODNERDJBRjUwQTQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo5QzY2OUNCMDg4MEYxMUUxODU4OUQ4M0REMkFGNTBBNCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo5QzY2OUNCMTg4MEYxMUUxODU4OUQ4M0REMkFGNTBBNCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PsQhXeAAAABfSURBVHjaYvz//z8DJYCRUgMYQAbAMBQIAvEqkBQWXI6sHqwHiwG70TTBxGaiWwjCTGgOUgJiF1J8wMRAIUA34B4Q76HUBelAfJYSA0CuMIEaRP8wGIkGMA54bgQIMACAmkXJi0hKJQAAAABJRU5ErkJggg==) no-repeat 10px center;
    text-decoration: none;
}

/*.markdown-body h1 tt, .markdown-body h1 code {*/
    /*font-size: inherit;*/
/*}*/

/*.markdown-body h2 tt, .markdown-body h2 code {*/
    /*font-size: inherit;*/
/*}*/

/*.markdown-body h3 tt, .markdown-body h3 code {*/
    /*font-size: inherit;*/
/*}*/

/*.markdown-body h4 tt, .markdown-body h4 code {*/
    /*font-size: inherit;*/
/*}*/

/*.markdown-body h5 tt, .markdown-body h5 code {*/
    /*font-size: inherit;*/
/*}*/

/*.markdown-body h6 tt, .markdown-body h6 code {*/
    /*font-size: inherit;*/
/*}*/

/*.markdown-body h1 {*/
    /*font-size: 21px;*/
    /*color: black;*/
/*}*/

/*.markdown-body h2 {*/
    /*font-size: 20px;*/
    /*color: black;*/
/*}*/

/*.markdown-body h3 {*/
    /*font-size: 18px;*/
/*}*/

/*.markdown-body h4 {*/
    /*font-size: 17px;*/
/*}*/

/*.markdown-body h5 {*/
    /*font-size: 15px;*/
/*}*/

/*.markdown-body h6 {*/
    /*color: #777777;*/
    /*font-size: 15px;*/
    /*margin: 1em 0;*/
/*}*/

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol,
.markdown-body dl, .markdown-body table, .markdown-body pre {
    margin: 10px 0;
    margin: .7rem 0;
}

.markdown-body li {
    margin: 5px 0;
}

.markdown-body li.wiz-md-todo-list-item {
    list-style: none;
}
.markdown-body li.wiz-md-todo-list-item input.wiz-md-todo-checkbox {
    width: .9rem;
    height: .9rem;
    margin-left: -1.2rem;
    margin-right: 5px;
    position: relative;
    top: .13rem;
}

.markdown-body hr {
    border: 0;
    border-bottom: 1px dashed #cfcfcf;
    margin: 30px 0;
}

.markdown-body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

.markdown-body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

.markdown-body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}

.markdown-body > h3:first-child, .markdown-body > h4:first-child, .markdown-body > h5:first-child, .markdown-body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

.markdown-body a:first-child h1, .markdown-body a:first-child h2, .markdown-body a:first-child h3, .markdown-body a:first-child h4, .markdown-body a:first-child h5, .markdown-body a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

.markdown-body h1 p, .markdown-body h2 p, .markdown-body h3 p, .markdown-body h4 p, .markdown-body h5 p, .markdown-body h6 p {
    margin-top: 0;
}

.markdown-body li p.first {
    display: inline-block;
}

.markdown-body pre li {
    margin: 0;
}

.markdown-body ul, .markdown-body ol {
    padding-left: 32px;
}
.markdown-body ul p, .markdown-body ol p{
    margin: 0;
}

.markdown-body ul :first-child, .markdown-body ol :first-child {
    margin-top: 0;
}

.markdown-body dl {
    padding: 0;
}

.markdown-body dl dt {
    font-size: 14px;
    font-size: 0.93rem;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 8px 0 5px;
}

.markdown-body dl dt:first-child {
    padding: 0;
}

.markdown-body dl dt > :first-child {
    margin-top: 0;
}

.markdown-body dl dt > :last-child {
    margin-bottom: 0;
}

.markdown-body dl dd {
    margin: 0 0 8px;
    padding: 0 15px;
}

.markdown-body dl dd > :first-child {
    margin-top: 0;
}

.markdown-body dl dd > :last-child {
    margin-bottom: 0;
}

.markdown-body blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 12px;
    color: #aaa;
}

.markdown-body blockquote > :first-child {
    margin-top: 0;
}

.markdown-body blockquote > :last-child {
    margin-bottom: 0;
}

.markdown-body table {
    padding: 0;
    border-collapse: collapse;
}

.markdown-body table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}

.markdown-body table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.markdown-body table tr th {
    font-size: 14px;
    font-size: 0.93rem;
    font-weight: bold;
    border: 1px solid #cccccc;
    margin: 0;
    padding: 6px 13px;
}

.markdown-body table tr td {
    border: 1px solid #cccccc;
    margin: 0;
    padding: 6px 13px;
    font-size: 14px;
}

.markdown-body table tr th :first-child, .markdown-body table tr td :first-child {
    margin-top: 0;
}

.markdown-body table tr th :last-child, .markdown-body table tr td :last-child {
    margin-bottom: 0;
}

.markdown-body img {
    max-width: 100%;
}

.markdown-body .footnote {
    vertical-align: top;
    position: relative;
    top: -0.5em;
    font-size: 12px;
    font-size: .8rem
}

.markdown-body span.frame {
    display: block;
    overflow: hidden;
}

.markdown-body span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}

.markdown-body span.frame span img {
    display: block;
    float: left;
}

.markdown-body span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
}

.markdown-body span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdown-body span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}

.markdown-body span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.markdown-body span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdown-body span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}

.markdown-body span.align-right span img {
    margin: 0;
    text-align: right;
}

.markdown-body span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}

.markdown-body span.float-left span {
    margin: 13px 0 0;
}

.markdown-body span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}

.markdown-body span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}

.markdown-body code, .markdown-body tt {
    margin: 0 2px;
    padding: 2px 4px;
    white-space: pre-wrap;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.markdown-body pre code {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    max-width: 100%;
    border: none;
    background: transparent;
    color: #666;
}

.markdown-body pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    font-size: 0.87rem;
    line-height: 19px;
    line-height: 1.27rem;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

.markdown-body .CodeMirror pre {
    background-color: transparent;
    border: 0px;
    font-size: inherit;
    line-height: inherit;
    overflow: initial;
    padding: 0 4px;
    border-radius: initial;
    margin: 0;
}

.markdown-body pre code, .markdown-body pre tt {
    background-color: transparent;
    border: none;
}

@media screen {
    .markdown-body pre, .markdown-body code {
        word-wrap: break-word;
    }
}

@media print {
    .markdown-body table, .markdown-body pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }
}

/*wiz code highlight*/
.markdown-body pre, .markdown-body code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.markdown-body .pln {
    color: #48484C;
}

.markdown-body .str {
    color: #DD1144;
}

.markdown-body .kwd {
    color: #1E347B;
}

.markdown-body .com {
    color: #93A1A1;
}

.markdown-body .typ {
    color: teal;
}

.markdown-body .lit {
    color: #195F91;
}

.markdown-body .pun {
    color: #93A1A1;
}

.markdown-body .opn {
    color: #93A1A1;
}

.markdown-body .clo {
    color: #93A1A1;
}

.markdown-body .tag {
    color: #008;
}

.markdown-body .atn {
    color: teal;
}

.markdown-body .atv {
    color: #DD1144;
}

.markdown-body .dec {
    color: teal;
}

.markdown-body .var {
    color: teal;
}

.markdown-body .fun {
    color: #DC322F;
}

/* Put a border around prettyprinted code snippets. */
/*.markdown-body pre.prettyprint {*/
    /*background-color: #F7F7F9;*/
    /*padding: 0;*/
    /*border: 1px solid #E1E1E8;*/
/*}*/

/*.markdown-body pre.prettyprint.linenums {*/
    /*overflow: auto;*/
    /*-webkit-overflow-scrolling: touch;*/
/*}*/

/*!* Specify class=linenums on a pre to get line numbering *!*/
/*.markdown-body pre.prettyprint.linenums ol.linenums {*/
    /*box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #ECECF0 inset;*/
    /*padding: 10px 10px 10px 40px !important;*/
    /*color: #1E347B;*/
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
/*}*/

/*.markdown-body pre.prettyprint.linenums ol.linenums li {*/
    /*color: #BEBEC5;*/
    /*line-height: 18px;*/
    /*padding-left: 12px !important;*/
/*}*/

/*.markdown-body pre.prettyprint.linenums ol.linenums li.L0,*/
/*.markdown-body pre.prettyprint.linenums ol.linenums li.L1,*/
/*.markdown-body pre.prettyprint.linenums ol.linenums li.L2,*/
/*.markdown-body pre.prettyprint.linenums ol.linenums li.L3,*/
/*.markdown-body pre.prettyprint.linenums ol.linenums li.L4,*/
/*.markdown-body pre.prettyprint.linenums ol.linenums li.L5,*/
/*.markdown-body pre.prettyprint.linenums ol.linenums li.L6,*/
/*.markdown-body pre.prettyprint.linenums ol.linenums li.L7,*/
/*.markdown-body pre.prettyprint.linenums ol.linenums li.L8,*/
/*.markdown-body pre.prettyprint.linenums ol.linenums li.L9 {*/
    /*list-style-type: decimal !important;*/
/*}*/


@media screen and (max-width: 660px) {
    .markdown-body {
        padding: 20px 18px;
    }
}


@media only screen and (-webkit-max-device-width: 1024px),
only screen and (-o-max-device-width: 1024px),
only screen and (max-device-width: 1024px),
only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (-o-min-device-pixel-ratio: 3),
only screen and (min-device-pixel-ratio: 3) {
    .markdown-body {
        padding: 12px 15px;
        color: #353c47;
    }

    /*.markdown-body,*/
    /*.markdown-body p,*/
    /*.markdown-body div {*/
        /*font-size: 17px;*/
        /*line-height: 1.7;*/
    /*}*/

    /*.markdown-body h1 {*/
        /*font-size: 34px;*/
    /*}*/

    /*.markdown-body h2 {*/
        /*font-size: 30px;*/
    /*}*/

    /*.markdown-body h3 {*/
        /*font-size: 26px;*/
    /*}*/

    /*.markdown-body h4 {*/
        /*font-size: 22px;*/
    /*}*/

    /*.markdown-body h5 {*/
        /*font-size: 18px;*/
    /*}*/

    /*.markdown-body h6 {*/
        /*color: inherit;*/
    /*}*/

    .markdown-body ul, .markdown-body ol {
        padding-left: 40px;
    }

    .markdown-body blockquote {
        border-left: 4px solid #c8d4e8;
        padding: 0 15px;
        color: #b3c2dd;
    }
}

/*评论页面修正*/
.comment-list-item .markdown-body {
    padding: 0;
    margin: 1em .5em 1em 0;
}