/* editor note frame's default */
.view {
    word-wrap:break-word;
    cursor:text;
    height:90%; 
    overflow: auto !important;
}

body, div, p {
    /*default-font-family*/;
    /*default-font-size*/;
    /*default-line-height*/    
}

html, body {
    /*default-color*/
    /*default-background-color*/;
    height: auto !important;
}